blinker==1.8.2
groq==0.9.0
langchain==0.2.7
langchain_community==0.2.6
langchain_groq==0.1.6
pinecone==4.0.0
PyPDF2==3.0.1
streamlit==1.36.0
streamlit_chat==0.1.1
transformers==4.42.3
sentence_transformers
python-json-logger==3.3.0
python-dotenv